---
layout: default
---

h1 Week 6
p
  ' In this episode we review some listener feedback and explore communication between developers and the businesspeople they inevitably work with. With this episode we've started
  a href="/week6.html" linking to the topics
  |  we discuss on air so you can read more.
audio controls="" height="20" width="320"
  source src="/episodes/week6.mp3" type="audio/mp3"
  source src="/episodes/week6.ogg" type="audio/ogg"
p
  a href="/episodes/week6.mp3" Download
markdown:
  - [Python Tools for Visual Studio Announcement][python] and [Download][python-download]
  - [Jimmy Schementi & IronRuby announcement](http://www.rubyinside.com/microsoft-tires-of-ironruby-jimmy-schementi-jumps-ship-3639.html)
  - [Windows 8 Explorer UI](  http://blogs.msdn.com/b/b8/archive/2011/08/29/improvements-in-windows-explorer.aspx)
  - [Joe's Side Project - Refactoring to Backbone screencast](http://www.refactoringtobackbone.com)
  - [Back to Work podcast](http://5by5.tv/backtowork)
  - [Alan's new blog](http://alanaudette.com)
  - [Uncle Bob's Clean Code Screencast](http://www.cleancoders.com/codecast/clean-code-episode-1/show)

  [python]: http://blogs.msdn.com/b/somasegar/archive/2011/08/29/python-tools-for-visual-studio.aspx
  [python-download]: http://pytools.codeplex.com/


